<p>Una compañia es una empresa que ofrece servicios o
    productos en el mercado</p>

<p>Invierte en investigación y desarrolla productos para ofrecer de manera competitiva</p>

<p>Está compuesta por personas, inversionistas y trabajadores</p>
