<p>Una institución es una organización social formalizada que opera en el gorbierno o de manera privada en pos de algún objetivo en particular</p>

<p>La componen personas que deben ejercer diversos roles con el fin de lograr los objetivos de la institución</p>
