<ul class="high_li">
    <li>    440 channels for GNSS multiple constellation tracking</li>
    <li>    Bluetooth, Ethernet, Serial and USB support</li>
    <li>    Internal memory plus external USB device logging capacity</li>
    <li>    Convenient front panel display and configuration</li>
    <li>    Powerful built-in remote management tools</li>
    <li>    Rugged and field tested for harsh environmental conditions</li>
</ul>
